!!!
%html
  %head
    %title LadayBusinesses
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {turbolinks_track: 'reload'}
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css'
    = stylesheet_link_tag '//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css'
    = javascript_include_tag 'application', data: {turbolinks_track: 'reload'}
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'
    = javascript_include_tag '//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js'

  %body
    = yield
    = render 'layouts/footer'